.completed-todo-container {
  padding: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.completed-todo {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
  min-width: 560px;
  max-width: 800px;
}

.todo-item-card {
  padding: 4px;
}

.mat-card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.no-completed-todos-message {
  text-align: center;
  color: gray;
  font-style: italic;
}

@media (max-width: 600px) {
  .completed-todo {
    min-width: 400px;
  }
}

@media (max-width: 500px) {
  .completed-todo {
    min-width: 320px;
  }
}
