.container {
  max-width: 800px;
  margin: auto;
}

.todo-container {
  width: 100%;
  max-width: 800px;
  min-width: 80%;
  padding-top: 10px;
}

.todo-list-content, .todo-filter-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spacer {
  flex: 1 1 auto;
}

.filter-group button {
  margin-top: 10px;
  margin-right: 16px;
}
