<div class="container">
  <mat-toolbar>
    <span>{{ title }}</span>
    <span class="spacer"></span>
    <button
      mat-raised-button
      color="primary"
      routerLink="/add"
      routerLinkActive="active"
    >
      Add New
    </button>
  </mat-toolbar>

  <div class="todo-container">
    <div class="todo-list-content">
      <router-outlet></router-outlet>
    </div>

    <div class="mt-6 text-center todo-filter-container">
      <mat-button-toggle-group appearance="standard" class="filter-group">
        <button mat-raised-button routerLink="/list" routerLinkActive="active">
          All
        </button>
        <button
          mat-raised-button
          routerLink="/active"
          routerLinkActive="active"
        >
          Active
        </button>
        <button
          mat-raised-button
          routerLink="/completed"
          routerLinkActive="active"
        >
          Completed
        </button>
      </mat-button-toggle-group>
    </div>
  </div>
</div>
